@import "tailwindcss";

@font-face {
  font-family: "Minecraft";
  src: url("./fonts/Minecraft.ttf") format("truetype");
}

@font-face {
  font-family: "Aux-mono";
  src: url("./fonts/aux-mono.otf") format("truetype");
}
