@import "tailwindcss";
@import "remixicon/fonts/remixicon.css";

@font-face {
  font-family: "Minecraft";
  src: url("./fonts/Minecraft.ttf") format("truetype");
}

@font-face {
  font-family: "Aux-mono";
  src: url("./fonts/aux-mono.otf") format("truetype");
}

::-webkit-scrollbar {
  width: 0.1px;
  height: 0.1px;
  background-color: black;
}
